@use "global" as *;

.hamburger {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.hamburger__bar-wrap {
    width: rem(22);
    height: inherit;
    display: block;
}

.hamburger__bar-wrap span {
    position: relative;
    display: block;
    width: 100%;
    height: rem(2);
    background-color: $white;
    transform: translateY(-50%);
    transition: .3s;
}

.hamburger__bar-wrap span:nth-of-type(1) {
    top: 43%;
}

.hamburger__bar-wrap span:nth-of-type(2) {
    top: 47%;
}

.hamburger__bar-wrap span:nth-of-type(3) {
    top: 50%;
}

// ハンバーガーメニュークリック時の動作
.hamburger.is-active .hamburger__bar-wrap span:nth-of-type(1) {
    top: 50%;
    transform: translateY(0) rotate(30deg);

}

.hamburger.is-active .hamburger__bar-wrap span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.is-active .hamburger__bar-wrap span:nth-of-type(3) {
    top: 46%;
    transform: translateY(0) rotate(-30deg);
    @include mq("md") {
        top: 44%;
    }
}

.hamburger__text {
    margin-left: rem(7);
    display: block;
    font-family: $second-font-family;
    font-size: rem(10);
    font-weight: $extra-bold;
    line-height: 1;
    letter-spacing: 0.005em;
    color: $white;
    text-transform: uppercase;
}



