@use "global" as *;

.header {
    height: rem(88);
    background-color: black;
    @include mq("md") {
        height: rem(60);
    }
}

.header__inner {
    padding: 0 rem(58);
    height: inherit;
    display: flex;
    // headerの場合に限り要素増えないので、justify-content: space-between;で要素の間に余白を追加している
    justify-content: space-between;
    align-items: center;
    @include mq("md") {
        padding: 0 rem(15);
    }
}

.header__logo {
    height: inherit;
}

.header__logo a {
    max-width: rem(260);
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    @include mq("md") {
        max-width: rem(189);
    }
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__hamburger {
    position: relative;
    height: inherit;
    z-index: 999;
}

.header__drawer {
    position: absolute;
    z-index: 900;
    top: 0;
    right: 0;
}

.header__drawer-bg {
    display: none;
    position: absolute;
    z-index: 800;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, .60);
}

